body {
    margin: 0;
    padding: 0;
}

.shopPage {
    margin-left: 40px;
    margin-right: 40px;
}


.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
}
/* .item {
    display: grid;
    justify-content: center;
    margin: 5px;
} */

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    border: solid;
    border-radius: 20px;
    width: 400px;
    padding: 5px;
    min-height: 300px;
    justify-content: space-between;
}

.itemImage {
    width: 100px;
}

.add-to-cart-btn {
    display: flex;
    justify-content: flex-end;
}


.navbar {
    display: flex;
    justify-content: space-between;
    border-bottom: solid;
}

.nav-cart {
    display: flex;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 40px;
    margin-top: 15px;
}

.cart-count {
    margin-left: 10px;
}

.nav-link {
    font-size: 20px;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 15px;
    margin-bottom: 15px;
}