.card {
    /* display: grid; */
    /* grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr 1fr; */
    border: solid;
    border-radius: 10px;
    width: 400px;
}

.itemImage {
    width: 100px;
}

.item {
    display: grid;
    justify-content: center;
    margin: 5px;
}